.Item-title {
  font-size: 22px;
  margin-bottom: 2px;
}
.Item-date {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
}
.Item-description {
  font-size: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid silver;
}
